In [55]:
import pandas as pd
import numpy as np

In [56]:
df = pd.read_csv("../data/data_processed_cleaned.csv")
df['date'] = pd.to_datetime(df['date'], format='%Y/%m/%d %H:%M')

df['fve'] = df['fve'] * 0.03
df['mve'] = df['mve'] * 0.07
df['wpg'] = df['wpg'] * 0.07

df['production_usage'] = df['fve'] + df['mve'] + df['wpg']

In [57]:
df.head()

,date,shops,office_building,industrial_park,fve,mve,wpg,price,isWeekend,isHoliday,...,temp,wind,hour,day,month,day_cos,day_sin,timestamp,month_cos,month_sin
0,2020-01-01 00:00:00,17.804,40.560,18.040,0.0,189.5740,6.3084,33.2,0,1,...,-8.0,3,0,1,1,1.000000,0.000000,1.577837e+09,0.999963,-0.008601
1,2020-01-01 00:15:00,12.960,42.120,17.132,0.0,205.7342,6.2678,33.2,0,1,...,-8.0,3,0,1,1,1.000000,0.000000,1.577838e+09,0.999965,-0.008422
2,2020-01-01 00:30:00,12.940,41.808,16.244,0.0,204.6569,5.6924,33.2,0,1,...,-8.0,3,0,1,1,1.000000,0.000000,1.577839e+09,0.999966,-0.008243
3,2020-01-01 00:45:00,13.100,41.808,15.964,0.0,203.9996,5.2423,33.2,0,1,...,-8.0,3,0,1,1,1.000000,0.000000,1.577840e+09,0.999967,-0.008064
4,2020-01-01 01:00:00,17.800,41.808,20.932,0.0,206.7842,5.1702,30.4,0,1,...,-8.4,3,1,1,1,0.965926,0.258819,1.577840e+09,0.999969,-0.007884

In [59]:
columns_to_modify = ['shops', 'office_building', 'industrial_park', 'fve', 'mve','wpg', 'price','temp', 'wind']
not_negative = ['shops', 'office_building', 'industrial_park', 'fve', 'mve','wpg']
mod_df = df.copy()
for c in columns_to_modify:
    
    #mu = mean
    # sigma = standard deviation
    mu = 0
    sigma = 10
    noise = np.random.normal(mu, sigma, [df[c].shape[0]]) 
    mod_df[c] = df[c] + noise

for c in not_negative:
    mod_df[c] = mod_df[c].apply(lambda x : 0 if x < 0 else x)

In [60]:
mod_df.describe()

,shops,office_building,industrial_park,fve,mve,wpg,price,isWeekend,isHoliday,production_usage,...,temp,wind,hour,day,month,day_cos,day_sin,timestamp,month_cos,month_sin
count,35040.000000,35040.000000,35040.000000,35040.000000,35040.000000,35040.000000,35040.000000,35040.000000,35040.000000,35040.000000,...,35040.000000,35040.000000,35040.000000,35040.000000,35040.000000,3.504000e+04,3.504000e+04,3.504000e+04,35040.000000,35040.000000
mean,73.958417,46.209850,49.460104,25.977878,89.200230,32.500005,33.988293,0.282192,0.041096,144.833238,...,8.623427,3.491734,11.500000,15.720548,6.526027,-1.112251e-16,2.707119e-17,1.593677e+09,0.000609,-0.002332
std,70.910050,10.996719,51.371053,35.267256,57.625875,28.721070,19.240681,0.450073,0.198515,70.326808,...,13.145826,10.289036,6.922285,8.796373,3.447901,7.071169e-01,7.071169e-01,9.124102e+06,0.708271,0.705957
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-88.525009,0.000000,0.000000,3.812200,...,-43.722876,-38.667725,0.000000,1.000000,1.000000,-1.000000e+00,-1.000000e+00,1.577837e+09,-1.000000,-1.000000
25%,15.633980,38.758098,9.938462,0.000000,43.857007,11.041372,21.611276,0.000000,0.000000,85.303925,...,-0.500083,-3.438319,5.750000,8.000000,4.000000,-7.071068e-01,-7.071068e-01,1.585807e+09,-0.707487,-0.707487
50%,36.317104,46.091650,24.722059,8.828509,71.575660,24.624613,33.368554,0.000000,0.000000,139.003196,...,8.579328,3.560800,11.500000,16.000000,7.000000,-6.123234e-17,6.123234e-17,1.593691e+09,-0.001075,-0.003584
75%,134.881564,53.474621,89.291862,40.107649,126.638173,46.596314,45.537067,1.000000,0.000000,196.471529,...,17.717544,10.338849,17.250000,23.000000,10.000000,7.071068e-01,7.071068e-01,1.601575e+09,0.712031,0.701382
max,364.310392,90.177254,227.228175,166.842650,246.420938,150.461991,135.729013,1.000000,1.000000,443.578164,...,60.688878,52.220858,23.000000,31.000000,12.000000,1.000000e+00,1.000000e+00,1.609458e+09,1.000000,1.000000

In [61]:
mod_df.head()

,date,shops,office_building,industrial_park,fve,mve,wpg,price,isWeekend,isHoliday,...,temp,wind,hour,day,month,day_cos,day_sin,timestamp,month_cos,month_sin
0,2020-01-01 00:00:00,31.230757,22.874199,32.506407,0.0,197.024555,0.000000,38.814310,0,1,...,1.770277,23.055532,0,1,1,1.000000,0.000000,1.577837e+09,0.999963,-0.008601
1,2020-01-01 00:15:00,7.180336,37.161039,11.267968,0.0,202.382727,6.725347,29.554889,0,1,...,-5.293917,-0.772485,0,1,1,1.000000,0.000000,1.577838e+09,0.999965,-0.008422
2,2020-01-01 00:30:00,0.000000,56.219000,29.564762,0.0,200.440529,10.479899,15.231993,0,1,...,-18.260038,0.724955,0,1,1,1.000000,0.000000,1.577839e+09,0.999966,-0.008243
3,2020-01-01 00:45:00,16.700081,38.395589,13.876961,0.0,205.692256,19.111311,40.639297,0,1,...,1.179129,-2.936652,0,1,1,1.000000,0.000000,1.577840e+09,0.999967,-0.008064
4,2020-01-01 01:00:00,26.267991,43.238963,12.805087,0.0,199.908829,14.930704,20.647532,0,1,...,-5.944901,13.926360,1,1,1,0.965926,0.258819,1.577840e+09,0.999969,-0.007884

In [65]:
mod_df.to_csv("../data/data_processed_cleaned_fake.csv",index=False)